html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}
nav {
  background-color: #eeeeee;
}

.ct-p {
  padding: 0px 25px 10px 25px;
}

.col {
  padding-bottom: 10px;
}

.img-me{
  display:none;
}

.border-custom {
  display:none;
}

.btn-outline-custom {
  border: 1px solid #ea9215;
  color: #303841 !important;
  width: 285px;
}

.btn-outline-custom:hover {
  background-color: #ea9115b6;
  color: #303841 !important;
}

.fs-2 {
  color: #3a4750;
  font-size: 25px ;
  line-height: 95% ;
  font-weight: 700;
}

.font-monospace {
  color: #303841 !important;
}

.fs-6,
.fs-1 {
  color: #303841;
}

.fs-6 {
  font-size: 16px;
  color: #ea9215 !important;
}

.fs-1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 900;
}

@media(min-width:768px) {
  .space-between {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .shortbackground {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .hero{ 
    height: 57vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .img-me {
    display: inline-block;
    position: absolute;
    top: 10%;
    width: 375px;
    border-radius: 5px;
  }

  .border-custom {
    display: inline-block;
    position: relative;
  }

  .border-custom::before {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 375px;
    height: 275px;
    border: 2px solid #ea9215;
    content: "";
  }
}

@media(min-width:1440px) {
    .moveLeft {
    margin-left: 185px;
}
  .hero{ 
    height: 55vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width:2560px) {

.hero{ 
  height: 25vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
}

/* @media(min-width: 1440px) {
  .moveLeft {
    margin-left: 185px;
}
} */

/* .fs-1 {
  letter-spacing: 2px;
  font-size: 24px !important;
  font-weight: 900;
} */

/* .fs-2 {
  color: #3a4750;
  font-size: 59px !important;
  line-height: 95% !important;
  font-weight: 700;
} */



/* 

.hero {
  height: 100vh;
}
.nav-link {
  color: #303841 !important;
}


.btn-outline-custom {
  border: 1px solid #ea9215;
  color: #303841 !important;
}

.btn-outline-custom:hover {
  background-color: #ea9115b6;
  color: #303841 !important;
}

/* Code */
/* .shortbackground {
  width: 450px;
} */

/* .border-custom {
  display: inline-block;
  position: relative;
}

.border-custom::before {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 500px;
  height: 375px;
  border: 2px solid #ea9215;
  content: "";
}

.img-me {
  position: absolute;
  top: 10%;
  width: 500px;
  border-radius: 5px;
}

.project {
  height: 100vh;
}

.contact {
  margin-top: 200px;
  height: 50vh;
}  */



